.users{
    flex: 4;
    padding: 10px;
}

.userListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.userListDelete{
    border: none;
    cursor: pointer;
    background-color: transparent;
}